# REVISI: Thu 28 Nov 2024 21:00
# STARTX: Thu 28 Nov 2024 17:00
# (c) 2024-2024 BinKadal, Sdn. Bhd.
# With a little help from chatGPT.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Virtualenv
venv/
ENV/

# MkDocs documentation
site/

# Miscellaneous
.mkdocs-env/
*.tmp
.DS_Store
*.swp

